# This docker-compose file is useful during development.

services:

  db:
    image: postgres:18.1
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - ./infra/dev:/docker-entrypoint-initdb.d
